<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/pizzas"></ion-back-button>
    </ion-buttons>
    <ion-title *ngIf="pizza">{{ pizza.title }}</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-button (click)="setModif()">Modify</ion-button>
  <div *ngIf="!modif">
    <ion-grid *ngIf="pizza">
      <ion-row>
        <ion-col>
          <ion-button (click)="onDelete(pizza.id)">
            <ion-icon name="trash"></ion-icon>
          </ion-button>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <img [src]="pizza.pictureLink" [alt]="pizza.title">
        </ion-col>
        <ion-col>
          <strong>Name</strong><br>
          {{pizza.title}} <br>
          <strong>Date</strong><br>
          {{pizza.releaseDate}} <br>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <strong>Country</strong><br>
          {{pizza.country}} <br>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <strong>Feelings</strong> <br>
          <p>
            {{pizza.feelings}}
          </p>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
  <div *ngIf="modif">
    <ion-item>
      <ion-input type="text" label="Picture" [(ngModel)]="pizza.pictureLink"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input type="text" label="Name" [(ngModel)]="pizza.title"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input type="text" label="Country" [(ngModel)]="pizza.country"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input type="text" label="Date" [(ngModel)]="pizza.releaseDate"></ion-input>
    </ion-item>
    <ion-item>
      <ion-textarea label="Feelings" rows="20" [(ngModel)]="pizza.feelings"></ion-textarea>
    </ion-item>
    <p class="text-center">
      <ion-button (click)="onModif()">Confirm</ion-button>
    </p>
  </div>
</ion-content>