<ion-header>
  <ion-toolbar>
    <ion-title class="toolbar-title ion-text-center">My Pizzas</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <h2>Create new pizza</h2>
  <ion-button routerLink="/pizzas/new">Create</ion-button>
  <h2>Pizza's List</h2>
  <ion-grid>
    <ion-row>
      <ion-col size="4" *ngFor="let pizza of pizzas">
        <ion-card [routerLink]="['/pizzas', pizza.id]">
          <img [src]="pizza.pictureLink" [alt]="pizza.title">
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
<ion-footer>
</ion-footer>

