<ion-header>
  <ion-toolbar>
    <ion-title class="toolbar-title ion-text-center">New Pizza</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-item>
    <ion-input type="text" label="Picture" [(ngModel)]="pizza.pictureLink"></ion-input>
  </ion-item>
  <ion-item>
    <ion-input type="text" label="Name" [(ngModel)]="pizza.title"></ion-input>
  </ion-item>
  <ion-item>
    <ion-input type="text" label="Country" [(ngModel)]="pizza.country"></ion-input>
  </ion-item>
  <ion-item>
    <ion-input type="text" label="Date" [(ngModel)]="pizza.releaseDate"></ion-input>
  </ion-item>
  <ion-item>
    <ion-textarea label="Feelings" rows="20" [(ngModel)]="pizza.feelings"></ion-textarea>
  </ion-item>
  <p class="text-center">
    <ion-button (click)="add()">Envoyer</ion-button>
  </p>
</ion-content>
