.toolbar-title {
    font-size: 36px; /* Taille de la police plus grande */
    color: #ffc0cb; /* Couleur rose */
    font-family: 'Graffiti', sans-serif; /* Utilisation de la police Graffiti ou d'une police similaire */
  }